%form{:action => '/login', :method => 'post'}
  %p
    Login ID と Password を入力して下さい。
  %table
    %tr
      %td
        Login ID
      %td
        %input{:type => 'text', :name => 'id', :placeholder => '08e000'}
    %tr
      %td
        Password
      %td
        %input{:type => 'password', :name => 'pass', :placeholder => 'xxxxxx'}
  %p
    %input{:type => 'submit', :value => 'ログイン'}
